<footer class="f-cont container-fluid text-white p-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h1>Central</h1>
        <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram me-4 mb-4"
            style="color: #ffffff;"></i></a>
        <a href="https://www.facebook.com/?locale=it_IT" target="_blank"><i class="fa-brands fa-facebook mb-4"
            style="color: #ffffff;"></i></a>
      </div>
      <div class="col-md-3">
        <h5>Dove siamo</h5>
        <p>Via delle Rose 123, Roma, 12345, Italia</p>
        <p><a href="mailto:info@centralrestaurant.com" class="text-white">Email Us</a></p>
      </div>
      <div class="col-md-3">
        <h5>Orari</h5>
        <p>Mar - Gio: 12:00 - 00:00<br>Ven - Dom: 12:00 - 01:00
          <br>
          Lunedì chiuso
        </p>
      </div>
      <div class="col-md-3">
        <h5>Cucina</h5>
        <p>Orari cucina: Mar - Dom:
          <br>
          12:00 - 15:00
          <br>
          19:00 - 23:00
        </p>
      </div>
    </div>
  </div>
</footer>
