.f-cont{
  color: var(--bianco);
  background-color: var(--footer);
  h1{
    font-family: 'Libre Bodoni', serif;
  }
  p{
    font-family: 'DM Sans', sans-serif;
  }
  h5{
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
  }
  a{
    color: var(--bianco);
  }
  h1{
    font-size: 3.5rem;
  }
}
