<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" (click)="closeNavbar()">
      <div class="navbar-nav mx-auto">
        <a routerLink="/" class="nav-link link-desktop px-2 " >Home</a>
        <a routerLink="menu" class="nav-link link-desktop px-2 " >Menù</a>
        <a routerLink="prenota" class="nav-link px-2 " >Prenota</a>
      </div>
      <div class="d-none d-lg-flex align-items-center d-sm-none central-container">
        <a id="central" routerLink="/">Central</a>
      </div>
      <div class="navbar-nav mx-auto">
        <a routerLink="eventi" class="nav-link link-desktop px-2">Eventi</a>
        <a routerLink="galleria" class="nav-link link-desktop px-2">Galleria</a>
        <a routerLink="contatti" class="nav-link px-2 ">Contatti</a>
      </div>
    </div>
  </div>
</nav>
