<div class="sfondo-principale">
  <div class="immagine-container">
    <div class="immagine-sfondo"></div>
    <div>
      <div class="contatti">
        <h1>CONTATTI</h1>
        <p>Per qualsiasi informazione contattaci, ti aspettiamo!</p>
      </div>
    </div>
  </div>

  <div class="contatti-container">
    <div>
      <h2>INDIRIZZO:</h2>
      <p>Via delle Rose 123</p>
      <p>12345 Roma</p>
    </div>
    <div>
      <h2>ORARI:</h2>
      <p>Mar - Gio: 12:00 - 00:00</p>
      <p>Ven - Dom: 12:00 - 01:00</p>
      <p>Lunedì chiuso</p>
    </div>
    <div>
      <h2>CUCINA:</h2>
      <p>Mar - Dom: 12:00 - 15:00 / 19:00 - 23:00</p>
    </div>
    <div>
      <h2>TELEFONO:</h2>
      <p>062243536</p>
    </div>
    <div>
      <h2>EMAIL:</h2>
      <p class="info-email">info&#64;centralrestaurant.it</p>
    </div>
  </div>

</div>
