<div class="video-background">
  <video autoplay loop muted playsinline class="back-video" preload="auto" onloadedmetadata="this.muted = true">
    <source src="../../../assets/img/ristorante.mp4" type="video/mp4">
  </video>
</div>

<!-- HERO SECTION -->
<div class="hero-section d-flex align-items-center">
  <div class="container text-center">
    <div class="col-lg-6 mx-auto hero-container">
      <h2 class="lead mb-4 fade" id="phrase1">Scatena i tuoi sensi.</h2>
      <p class="lead mb-4 px-3 fade" id="phrase2">Prenota ora il tuo tavolo e delizia il palato con i nostri sapori unici.
      </p>
      <p id="menu-link" class="m-5 fade">&#9670;<a routerLink="menu" class="px-4" id="phrase3">Menù</a>&#9670;</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <div class="arrow-container fade">
          <i class="fa-solid fa-chevron-down" style="color: #ffffff;"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<!--___MAIN CONCEPT___-->
<main class="container-fluid">
  <div class="concept-container">
    <div class="concept row">
      <div class="col-md-6">
        <h2>Concept</h2>
        <p>Central è un ristorante che offre un'esperienza culinaria unica, focalizzata sulla
          genuinità e l'autenticità degli ingredienti. Situato in un ambiente accogliente e moderno, il nostro
          ristorante si impegna a servire piatti preparati con ingredienti freschi e di alta qualità,
          provenienti da fornitori locali e sostenibili.</p>
      </div>
      <div class="col-md-6 img-concept-container" id="prova2">
      </div>
    </div>
  </div>

  <!--___MENU___-->
  <div class="menu-container">
    <div class="menu">
      <h2>Menù</h2>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="appImageHover col-12 col-sm-4 col-lg-4 d-none d-md-flex position-relative img-container">
        <a routerLink="menu">
          <img src="../../../assets/img/pexels-christine-cleireny-17664411.jpg" alt="menu-item-1"
            class="img-fluid mb-4 photo-menu" loading="lazy">
        </a>
        <div class="img-overlay">
          <div class="overlay-text">Cena</div>
        </div>
      </div>
      <div class="col-12 col-sm-4 col-lg-4 d-none d-md-flex position-relative img-container">
        <a routerLink="menu">
          <img src="../../../assets/img/pexels-arina-krasnikova-7376915.jpg" alt="menu-item-2"
            class="img-fluid mb-4 photo-menu" loading="lazy">
        </a>
        <div class="img-overlay">
          <div class="overlay-text">Cocktail</div>
        </div>
      </div>
      <div class="col-12 col-sm-4 col-lg-4 d-none d-md-flex position-relative img-container">
        <a routerLink="menu">
          <img src="../../../assets/img/pexels-isabella-rubie-14064604.jpg" alt="menu-item-3"
            class="img-fluid mb-4 photo-menu" loading="lazy">
        </a>
        <div class="img-overlay">
          <div class="overlay-text">Pranzo</div>
        </div>
      </div>
    </div>

    <!--___IMG MOBILE___-->
    <div class="d-md-none">
      <div class="mobile-image-container">
        <a routerLink="menu">
          <img src="../../../assets/img/pexels-christine-cleireny-17664411.jpg" alt="menu-item-1"
            class="img-fluid mobile-image" loading="lazy">
        </a>
        <div class="mobile-image-text">
          <p>Cena</p>
        </div>
      </div>
      <div class="mobile-image-container">
        <a routerLink="menu">
          <img src="../../../assets/img/pexels-arina-krasnikova-7376915.jpg" alt="menu-item-2"
            class="img-fluid mobile-image" loading="lazy">
        </a>
        <div class="mobile-image-text">
          <p>Cocktail</p>
        </div>
      </div>
      <div class="mobile-image-container">
        <a routerLink="menu">
          <img src="../../../assets/img/pexels-isabella-rubie-14064604.jpg" alt="menu-item-3"
            class="img-fluid mobile-image" loading="lazy">
        </a>
        <div class="mobile-image-text">
          <p>Pranzo</p>
        </div>
      </div>
    </div>
  </div>

  <!--___GALLERY___-->
  <div class="gallery-container">
    <div class="gallery">
      <h2>Galleria</h2>
    </div>
    <div class="row g-0">
      <div class="col-md-6">
        <img src="../../../assets/img/pexels-matheus-bertelli-17294747.jpg" class="img-fluid prova" alt="restaurant" loading="lazy">
      </div>
      <div class="col-md-6">
        <img src="../../../assets/img/pexels-matheus-bertelli-17294735.jpg" class="img-fluid prova" alt="restaurant" loading="lazy">
      </div>
      <div class="col-md-6">
        <img src="../../../assets/img/pexels-matheus-bertelli-16935929.jpg" class="img-fluid prova" alt="restaurant" loading="lazy">
      </div>
      <div class="col-md-6" id="foto-galleria">
        <div class="working-hours-container">
          <p id="working-hours">Working Hours</p>
          <h3>Quando siamo aperti?</h3>
          <p>Martedì - Domenica</p>
          <p>12:00 - 01:00</p>
          <p>Lunedì chiuso</p>
          <p>Chiama ora <a href="tel:+1234567890">+1234567890</a></p>
        </div>
      </div>
    </div>
  </div>
</main>
