@charset "UTF-8";
.video-background {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -100;
}

.back-video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero-section {
  color: var(--bianco);
  position: relative;
  overflow: hidden;
  height: 100vh;
}
.hero-section a {
  color: var(--bianco);
  text-decoration: none;
}

img {
  max-width: 100%;
}

#phrase1 {
  font-size: 3.6rem;
  color: var(--bianco);
}

#phrase2 {
  font-size: 1.5rem;
}

#phrase3 {
  font-size: 1.3rem;
}

h2 {
  font-size: 4.5rem;
}

.arrow-container {
  animation: bounce 2s ease infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
.container-cta.show {
  opacity: 1;
  transform: translateY(0);
}

.fade {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.fade.show {
  opacity: 1;
  transform: translateY(0);
}

main {
  background: var(--nero);
  padding: 30px;
  overflow-x: hidden;
}

.img-concept-container {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s ease, transform 1s ease;
}

.img-concept-container.show {
  opacity: 1;
  transform: translateX(0);
}

h2 {
  color: var(--footer);
  font-family: "Libre Bodoni", serif;
  font-weight: bold;
  font-style: normal;
}

.concept-container {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
.concept-container p {
  font-size: 1.3rem;
  color: var(--bianco);
}

#prova2 {
  background-image: url(../../../assets/img/pexels-cottonbro-studio-3298637.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* ______MENU______ */
.img-container {
  opacity: 0;
  transform: translateY(50px); /* Inizialmente sposta l'elemento verso il basso */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.img-container.show {
  opacity: 1;
  transform: translateY(0); /* Quando la classe "show" è presente, sposta l'elemento nella vista */
}

.menu {
  margin-top: 200px;
}

.mobile-image {
  width: 100%;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.img-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.overlay-text {
  color: var(--bianco);
  font-family: "Libre Bodoni", serif;
  font-size: 1.3rem;
}

.gallery-container {
  margin-top: 200px;
  margin-bottom: 80px;
}

#foto-galleria {
  background-image: url(../../../assets/img/kiwihug-zGZYQQVmXw0-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: rgb(165, 137, 85);
  padding: 20px;
}
#foto-galleria #working-hours {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: bold;
  font-family: "Libre Bodoni", serif;
  margin: 0;
}
#foto-galleria h3 {
  font-size: 3rem;
  margin-bottom: 50px;
  font-family: "Libre Bodoni", serif;
}
#foto-galleria p {
  font-size: 1.3rem;
}
#foto-galleria p a {
  color: rgb(165, 137, 85);
}

@media (min-width: 768px) {
  .concept {
    margin-right: 20px;
    /* Aggiunge il margine tra il testo e l'immagine su tablet in su */
  }
}
@media only screen and (max-width: 768px) {
  #phrase1 {
    font-size: 2.5rem;
  }
  #phrase2 {
    font-size: 1.2rem;
  }
  #phrase3 {
    font-size: 1.2rem;
  }
  .concept-container p {
    font-size: 1rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1rem;
  }
  .gallery-container {
    margin-top: 100px;
    margin-bottom: 40px;
  }
  .menu {
    margin-top: 100px;
  }
  .mobile-image-container {
    position: relative;
  }
  .mobile-image-text {
    position: absolute;
    top: 50%; /* Posiziona il testo a metà dell'altezza dell'immagine */
    left: 50%; /* Posiziona il testo a metà della larghezza dell'immagine */
    transform: translate(-50%, -50%); /* Centra il testo correttamente */
    text-align: center; /* Centra il testo orizzontalmente */
    color: var(--bianco); /* Assicura che il testo sia visibile sopra le immagini */
    font-size: 1.2rem; /* Imposta la dimensione del testo secondo le tue esigenze */
    font-weight: bold; /* Imposta il grassetto se necessario */
  }
  #foto-galleria h3 {
    font-size: 2.3rem;
    margin-bottom: 20px;
  }
  #foto-galleria p {
    font-size: 0.9rem;
  }
}/*# sourceMappingURL=home.component.css.map */