<div class="container-fluid py-4 galleria-container">
  <div class="row justify-content-center text-center">
    <div class="col-lg-4 col-sm-6">
      <img src="../../../assets/img/edward-howell-IT78DVDW7_M-unsplash.jpg" alt="food" class="img-fluid object-fit-cover">
    </div>
    <div class="col-lg-4 col-sm-6">
      <img src="../../../assets/img/edward-howell-yArvCsvY_kM-unsplash.jpg" alt="food" class="img-fluid object-fit-cover">
    </div>
    <div class="col-lg-4 col-sm-6">
      <img src="../../../assets/img/zahir-namane-YTsEZrHqDq0-unsplash.jpg" alt="food" class="img-fluid object-fit-cover">
    </div>
    <div class="col-lg-4 col-sm-6">
      <img src="../../../assets/img/edward-howell-4YK6XCVmZaY-unsplash.jpg" alt="drink" class="img-fluid object-fit-cover" loading="lazy">
    </div>
    <div class="col-lg-4 col-sm-6">
      <img src="../../../assets/img/caramel-21U6ZjdWpLg-unsplash.jpg" alt="drink" class="img-fluid object-fit-cover" loading="lazy">
    </div>
    <div class="col-lg-4 col-sm-6">
      <img src="../../../assets/img/caramel-fJ1kA2Q0KpU-unsplash.jpg" alt="drink" class="img-fluid object-fit-cover" loading="lazy">
    </div>
  </div>
</div>
