.galleria-container{
  background:  #D4C9B4;
}

.galleria-container .img-fluid{
  overflow: hidden;
  object-fit: cover;
  transition: all .3s ease;
}

.galleria-container .img-fluid:hover {
  transform: scale(1.1);
}

.object-fit-cover{
  object-fit: cover;
  background-position: center center;
    width: 250px;
    height: 100%;
}
